<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>javax.faces.SEPARATOR_CHAR</param-name>
        <param-value>-</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/404.xhtml</location>
    </error-page>

    <filter>
        <filter-name>AdminLoginFilter</filter-name>
        <filter-class>br.com.welson.clinic.filter.AdminLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/restricted/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>DoctorLoginFilter</filter-name>
        <filter-class>br.com.welson.clinic.filter.DoctorLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DoctorLoginFilter</filter-name>
        <url-pattern>/restricted/doctor/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>EmployeeLoginFilter</filter-name>
        <filter-class>br.com.welson.clinic.filter.EmployeeLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EmployeeLoginFilter</filter-name>
        <url-pattern>/restricted/employee/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PatientLoginFilter</filter-name>
        <filter-class>br.com.welson.clinic.filter.PatientLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PatientLoginFilter</filter-name>
        <url-pattern>/restricted/patient/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>